.container{
  height: 800px;
  background-color: rgba(212, 212, 212, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.input_container{
  padding: 25px 50px ;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  align-items: center;
  justify-content: center;
}

.login_box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  
}

.input_box{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_box > input{
  padding: 15px;
  border-radius: 4px;
  border: 1px solid rgba(212, 212, 212, 0.5);
  height: 50px;
  width: 350px;
}

.h1{
  font-size: 48px;
  font-weight: lighter;
}

.h3{
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 25px;
}

.alt_text{
  margin-top: 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.alt_text > a{
  color: rgba(0, 0, 0, 0.4);
}

.alt_text > a:hover{
  color: rgba(0, 0, 0, 0.6);
}

.alt_pass {
  margin-top: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.alt_pass > a{
  color: rgba(0, 0, 0, 0.4);
}

.alt_pass > a:hover{
  color: rgba(0, 0, 0, 0.6);
}