.logoContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 200px;
    box-sizing: border-box;
    height: 80px;
   
}

.navPanel{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

