.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 200px;
    box-sizing: border-box;
    
}

.logoContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}




.navPanel{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
    
}

.navPanel a:not(:last-child) {
    transition: transform 0.3s ease; /* Плавное движение */
    display: inline-block;
}

.navPanel a:hover:not(:last-child) {
    transform: translateY(-3px); /* Поднимаем ссылку при наведении */
}

.authPanel{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
   
}

.userName {
 
  overflow: visible !important;
  text-overflow: unset !important;
  white-space: nowrap; 
  max-width: none;
  
}
